In [4]:
# Project 2 - Efficient Frontier
# Author Jose Aponte
# Professor John Droescher
# Quantitative Finance - ECO 41552

In [5]:
import math
import datetime as dt
import pandas as pd
import numpy as np
import yfinance as yf
import seaborn as sns
import scipy.optimize as sco
import matplotlib.pyplot as plt

In [6]:
tickets = ['AAPL','MSFT','AMZN','TSLA','GOOGL','UNH','JNJ']

todayDate = dt.datetime.today()
sDate = dt.timedelta(2*365)
prices = yf.download(tickets, period = '2y')['Adj Close'].pct_change()
returns = prices
al = len(tickets)

[*********************100%***********************]  7 of 7 completed

In [7]:
class Tools:
    def __init__(self, returns, assets):
        self.returns = returns
        self.assets = assets
    
    def simpleComposition(self):
        self.tbl = pd.DataFrame(index=self.assets)
        self.tbl['Mean']=returns.mean()
        self.tbl['Variance']=returns.var()
        return(self.tbl.T)
    
    def correlation(self):
        self.tbl=pd.DataFrame(index=self.assets)
        self.corr = returns.corr()
        return(self.corr)

In [8]:
table = Tools(returns=returns, assets=tickets)
display(table.simpleComposition().T,table.correlation())

           Mean  Variance
AAPL   0.000702  0.000356
MSFT   0.000591  0.000351
AMZN  -0.000520  0.000651
TSLA   0.000350  0.001451
GOOGL  0.000227  0.000433
UNH    0.000665  0.000191
JNJ    0.000049  0.000099

           AAPL      AMZN     GOOGL       JNJ      MSFT      TSLA       UNH
AAPL   1.000000  0.650430  0.730224  0.294881  0.771518  0.554845  0.406450
AMZN   0.650430  1.000000  0.698991  0.172050  0.701599  0.479769  0.235038
GOOGL  0.730224  0.698991  1.000000  0.228678  0.810074  0.445185  0.313316
JNJ    0.294881  0.172050  0.228678  1.000000  0.272281  0.027843  0.492902
MSFT   0.771518  0.701599  0.810074  0.272281  1.000000  0.477424  0.395621
TSLA   0.554845  0.479769  0.445185  0.027843  0.477424  1.000000  0.170227
UNH    0.406450  0.235038  0.313316  0.492902  0.395621  0.170227  1.000000